.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  /* min-height: 100vh; */
}

.addTask{
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskInput{
 display: flex;
 width:50vh;
 /* height: 2rem; */
}
.taskInput input{
  width: 100%;
  height: 3rem;
  border: 0mm;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}

.otherInput{
  display: flex;
  justify-content: center;
  align-items: center;
  width:50vh;

}
.otherInput input{
  margin: 5px;
  width: 35%;
  border: 0mm;
  border-radius: 10px;
  padding: 10px;
}

.addBtn button{
  border: 0mm;
  width: 5rem;
  height: 4rem;
  border-radius: 10px;
}